.nave-style li{
	padding:0 0.7rem;
}
.nave-style li a{
	color:white !important;
	text-transform:capitalize;
	font-weight:600;
}
.nave-style li:hover{
	color:blue;
}
.search-result .d-flex button{
margin-right:-4rem !important;
}

