<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         

	<servlet>
		<servlet-name>logins</servlet-name>
		<servlet-class>com.ovrsm.servelets.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logins</servlet-name>
		<url-pattern>/logins</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.ovrsm.servelets.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>vehicleadd</servlet-name>
		<servlet-class>com.ovrsm.servelets.VehicleAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vehicleadd</servlet-name>
		<url-pattern>/vehicleadd</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>vehicleview</servlet-name>
		<servlet-class>com.ovrsm.servelets.VehicleViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vehicleview</servlet-name>
		<url-pattern>/vehicleview</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>assignjobs</servlet-name>
		<servlet-class>com.ovrsm.servelets.RecommendJobsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>assignjobs</servlet-name>
		<url-pattern>/assignjobs</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletejobs</servlet-name>
		<servlet-class>com.ovrsm.servelets.DeleteRecommendJobServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletejobs</servlet-name>
		<url-pattern>/deletejobs</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>requestvehicle</servlet-name>
		<servlet-class>com.ovrsm.servelets.VehicleReservationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>requestvehicle</servlet-name>
		<url-pattern>/requestvehicle</url-pattern>
	</servlet-mapping>
	
	
	 <servlet>
		<servlet-name>profileupdate</servlet-name>
		<servlet-class>com.ovrsm.servelets.DriverAccountUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>profileupdate</servlet-name>
		<url-pattern>/profileupdate</url-pattern>
	</servlet-mapping>

 <servlet>
		<servlet-name>jobs</servlet-name>
		<servlet-class>com.ovrsm.servelets.DriverJobsandPaymentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobs</servlet-name>
		<url-pattern>/jobs</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>updateVehicle</servlet-name>
		<servlet-class>com.ovrsm.servelets.VehicleUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateVehicle</servlet-name>
		<url-pattern>/updateVehicle</url-pattern>
	</servlet-mapping>
		 <servlet>
		<servlet-name>vehicleDelete</servlet-name>
		<servlet-class>com.ovrsm.servelets.VehicleDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>vehicleDelete</servlet-name>
		<url-pattern>/vehicleDelete</url-pattern>
	</servlet-mapping>
	
	
			 <servlet>
		<servlet-name>feedBack</servlet-name>
		<servlet-class>com.ovrsm.servelets.FeedBackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>feedBack</servlet-name>
		<url-pattern>/feedBack</url-pattern>
	</servlet-mapping>
	
	
	
			 <servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>com.ovrsm.servelets.SignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	

	
	
	
	
	
	
	
	
	
	
	
	

</web-app>
